@using DrivingSchool.Models
@model PaginatedList<Instructor>

@{
    ViewData["Title"] = "Instructors";
}

<img src="InstructoriScoala.jpg" width="304" height="200">
<h1>These are the available instructors</h1>
<p>We have the best instructors in the city.</p>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                YearOfBirth
            </th>
            <th>
                PhoneNumber
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.InstructorId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.InstructorId">Available vehicles</a> |
                    <a asp-action="Delete" asp-route-id="@item.InstructorId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@for (int i = 1; i <= Model.TotalPages; i++)
{
    <a asp-action="Index" asp-route-page="@i" style="margin-right:10px;border : 3px solid #eee;padding : 5px 5px;">@i</a>
}
